<table class="heros-table">
  <thead>
    <th>Hero name</th>
    <th>Powers</th>
    <th>Rate</th>
  </thead>
  <tbody>
   <tr *ngFor="let hero of heros">
      <td>{{ hero.name }}</td>
      <td class="heros-table__power-cell">{{ hero.powers.join(', ') }}</td>
      <td class="heros-table__rate-cell">
        <img
        *ngFor="let _ of heroStars(hero.rate).active"
          src="assets/star-active.png"
          class="heros-table__star"
          alt="Active Star"
          [title]="'Hero Rate: ' + hero.rate"
        />
        <img
          *ngFor="let _ of heroStars(hero.rate).inactive"
            src="assets/star-inactive.png"
            class="heros-table__star"
            alt="Inactive Star"
            [title]="'Hero Rate: ' + hero.rate"
          />
      </td>
    </tr>
    <tr>
      <td></td>
      <td></td>
      <td></td>
    </tr>
  </tbody>
</table>
