$max-width: 800px;

.all-heros {
  padding: 20px;
  max-width: $max-width;
  margin: 0 auto;
  &__filters-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 100px;
  }
}
